<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/style_login.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap">
    <title>Login</title>
</head>
<body>
 <div class="wrapper">
    <form action="" method="post">
      <h2>Welcome Back</h2>
        <div class="input-field">
        <input type="text" required  required name="userForm">
        <label>Enter your username</label>
      </div>
      <div class="input-field">
        <input type="password" required  required name="passForm">
        <label>Enter your password</label>
      </div>

      <button type="submit" name="logar">Log In</button>
      <div class="register">
        <p>Don't have an account? <a href="register" style="font-weight: 800;">Register</a></p>
      </div>
    </form>
  </div>
</body>
</html>