<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard Chat</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap">
  <link rel="stylesheet" href="../../static/main.css">
</head>
<body>
  <div class="sidebar">
    <div>
        <div class="logo">
            <h1 class="logo">Chat</h1>
        </div>
        <hr>
      <ul class="menu">
        <li><div class="sidebar-button">
            <a href="{{ url_for('profile')}}">👤 Perfil</a>
        </div></li>
        <li><div class="sidebar-button">
            <a href="{{ url_for('create_group')}}">💬 Criar Grupos</a>
        </div></li>
        <li><div class="sidebar-button">
            <a href="{{url_for('search_group')}}">🔍 Buscar Chats</a>
        </div></li>
      </ul>
    </div>
    <button class="theme-toggle" onclick="toggleTheme()">🌙 Tema</button>
  </div>

  <div class="main">
    <h1>Bem-vindo ao chat!</h1>
    <div class="chat-box">
      <h1>Procure um chat ao lado!!!!</h1>
    </div>
  </div>

  <script>
    function toggleTheme() {
      document.body.classList.toggle("light");
    }
  </script>
</body>
</html>