<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard Chat</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap">
  <link rel="stylesheet" href="../../static/main.css">
</head>
<body>
  <div class="sidebar">
    <div>
        <div class="logo">
            <h1 class="logo">Chat</h1>
        </div>
        <hr>
      <ul class="menu">
        <li><div class="sidebar-button">
            <a href="{{ url_for('profile')}}">👤 Perfil</a>
        </div></li>
        <li><div class="sidebar-button">
            <a href="chat_list">💬 Meus Chats</a>
        </div></li>
        <li><div class="sidebar-button">
            <a href="search">🔍 Buscar Chats</a>
        </div></li>
      </ul>
    </div>
    <button class="theme-toggle" onclick="toggleTheme()" style="font-size: 16px;">🌙 Tema</button>
  </div>

  <div class="main">
    <h1>Profile</h1>
    <div class="chat-box">
      <form action="" method="post">
        <div class="input-field">
            <label style="font-size: 26px;">Change your name here [{{ current_user.name }}]</label>
            <input type="text" name="userForm" id="" minlength="4">
        </div>
        <div>
            <button type="submit">Change</button>
        </div>
      </form>
      <div>
        <a href="chat/logout" target="_parent" id="logout" style="width: fit-content;">
              Logout
        </a>
      </div>
    </div>
  </div>

  <script>
    function toggleTheme() {
      document.body.classList.toggle("light");
    }
  </script>
</body>
</html>