<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard Chat</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap">
  <link rel="stylesheet" href="../../static/main.css">
</head>
<body>
  <div class="sidebar">
    <div>
        <div class="logo">
            <h1 class="logo">Chat</h1>
        </div>
        <hr>
      <ul class="menu">
        <li><div class="sidebar-button">
            <a href="{{ url_for('profile')}}">👤 Perfil</a>
        </div></li>
        <li><div class="sidebar-button">
            <a href="{{ url_for('create_group')}}">💬 Criar Grupos</a>
        </div></li>
        <li><div class="sidebar-button">
            <a href="{{url_for('search_group')}}">🔍 Buscar Chats</a>
        </div></li>
      </ul>
    </div>
    <button class="theme-toggle" onclick="toggleTheme()" style="font-size: 16px;">🌙 Tema</button>
  </div>

  <div class="main">
    <h1>Create Group</h1>
    <form action="" method="post">
        <div class="chat-box">
            <div class="input-field">

                <label for="group_name">Group Name</label>
                <input type="text" name="group_name" id="" minlength="4" maxlength="32" required>

                <label for="passwd">Password</label>
                <input type="text" name="passwd" id="">
                <div id="public_check">
                  <input type="checkbox" name="public" id="">
                  <label for="public">Public</label>
                </div>
            </div>
            <div>
                <button type="submit">Create</button>
            </div>
        </div>
    </form>
    </div>

  <script>
    function toggleTheme() {
      document.body.classList.toggle("light");
    }
  </script>
</body>
</html>